.edit-project-modal {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

.edit-project-container {
  position:relative;
  border-radius: 5px;
  background: white;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items:center;
  padding: 1.2rem;
  overflow: auto;
}

.edit-head-modal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-head-modal h1 {
  font-size: 1.25rem;
  text-transform: uppercase;
}

.close-button {
  line-height: 1.5rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.15rem 0.3rem;
}

.edit-project-container form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.edit-project-container label {
  font-size: 1.25rem;
  margin-top: 0.75rem;
}

.edit-project-container input, 
.edit-project-container textarea {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

.edit-project-container textarea {
  border: 1px solid black;
  height: 200px;
  resize: none;
}

.edit-project-container input {
  border-width: 0 0 1px 0; 
}

.edit-project-container .submit-button {
  align-self: flex-end;
  border: 1px solid black;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  padding: 0.4rem;
}

.success-message {
  font-size: 1.2rem;
  border: 2px solid rgb(113, 43, 226);
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

@media screen and (min-width : 640px) {
 
  .edit-project-container {
    height: fit-content;
    max-height: 90%;
  }
  
  .edit-head-modal h1 {
    font-size: 1.5rem;
  }
  
  .close-button {
    font-size: 1.5rem;
  }
  
  .edit-project-container label {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  
  .edit-project-container input, 
  .edit-project-container textarea {
    font-size: 1.4rem;
    margin-top: 0.75rem;
  }
  
  .edit-project-container textarea {
    height: 300px
  }
  
  .edit-project-container .submit-button {
    margin-top: 1rem;
    font-size: 1.4rem;
  }
  
  .success-message {
    font-size: 1.4rem;
    margin-top: 0.5rem;
    padding: 0.5rem;
  }
}