.homepage-container {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-header {
  background-color: grey;
}

.homepage-footer {
  background-color: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
}